.rimg {
    width: 100%;
    max-width: 700px;
    height: auto;
}

.main img{
    border-radius: 10px;
    box-shadow: var(--shadow) 10px 10px 20px 1px;
}

.title h1{
    color: var(--red);
    font-size: 35px !important;
}

.left h1 {
    font-size: 30px;
}

.sec {
    display: flex;
    justify-content: space-between;
    gap: 50px;
}

.sec a {
    padding: 5px;
    border: 5px solid var(--red);
    font-weight: 500;
    transition: 0.3s ease;
}

.sec a:hover{
    border: 4.5px solid var(--shadow);
    transition: 0.3s ease;
}

.main{
    padding-bottom: 110px;
}