.rimg {
    width: 100%;
    max-width: 700px;
    height: auto;
}

.main img{
    box-shadow: var(--shadow) 10px 10px 0 0;
}

.title h1{
    color: var(--red);
    font-size: 35px !important;
}

.left h1 {
    font-size: 30px;
}

.nottitle h1 {
    color: var(--text);
}

.sec {
    display: flex;
    justify-content: space-between;
    gap: 50px;
}

.sec a {
    padding: 5px;
    border: 5px solid var(--red);
    font-weight: 500;
    transition: 0.3s ease;
}

.sec a:hover{
    border: 4.5px solid var(--shadow);
    transition: 0.3s ease;
}

.main{
    padding-bottom: 224px;
}

.footer{
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: var(--red);
    padding: 20px;
    align-items: center;
    box-shadow: var(--shadow) -12px -12px 0 0;
}

.footer a, h1{
    color: var(--texthover);
    transition: .3s ease;
}

.footer a:hover {
    transition: .3s ease;
    color: var(--shadow);
}

.black {
    height: 7px;
    width: 7px;
    background-color: var(--texthover);
}

.sites {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

