.rimg {
    width: 100%;
    max-width: 700px;
    height: auto;
}

.right img{
    box-shadow: var(--shadow) 10px 10px 0 0;
}

.title h1{
    color: var(--red);
    font-size: 35px !important;
}

.left h1 {
    font-size: 30px;
}

.nottitle h1 {
    color: var(--text);
}

.sec {
    display: flex;
    justify-content: space-between;
    gap: 50px;
}

.p a {
    padding: 5px;
    border: 5px solid var(--red);
    font-weight: 500;
    transition: 0.3s ease;
}

.p a:hover{
    border: 4.5px solid var(--shadow);
    transition: 0.3s ease;
}

.main{
    padding-bottom: 204px;
}

.projekti {
    display: flex;
    align-items: center;
    align-content: center;
    gap: 20px;
}

.projekti img{
    border: 5px solid var(--red);
    background-color: var(--background);
    padding: 5px;
    border-radius: 100%;
    transition: .5s ease;
}

.projekti img:hover{
    transition: .5s ease;
    background-color: var(--red);
}
